@font-face {
  font-family: "Arthead";
  src: url("../assets/fonts/Arthead-Regular FREE.otf");
}

@font-face {
  font-family: "Berlin";
  src: url("../assets/fonts/Berlin Sans FB Regular.ttf");
}

@font-face {
  font-family: "Moderat";
  src: url("../assets/fonts/Moderat-Thin.woff");
}

@font-face {
  font-family: "Ocra";
  src: url("../assets/fonts/OCR-A Regular.ttf");
}

:root {
  --primary-bg-color: #f9f3ec;
  --secondary-bg-color-brown: #261910;
  --tertiary-bg-color-white: #ffffff;
  --button-bg-color-white: #ffffff;
  --button-bg-color-lightbrown: #814141;
  --button-bg-color-lightblue: #c5f5ff;
  --button-bg-color-grey: #efecec;
  --text-color-darkblue: #001834;
  --text-color-black: #000000;
  --text-color-grey: #2a2a2a;
  --text-color-lightblue: #216dc4;
  --text-color-white: #ffffff;
  --text-color-brown: #5b2727;
  --border-grey-color: #707070;
  --border-black-color: #000000;
  --border-brown-color: #261910;
  --border-lightbrown-color: #814141;
  --button-bg-color-darkorange: #9f6c48;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
}

body {
  position: relative;
  width: 100%;
}

h1 {
  font-size: 64px;
  font-family: "Arthead";
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

.section-p1 {
  padding: 30px 20px;
}

.btn-brown {
  font-family: "Onyx";
  background: var(--secondary-bg-color-brown);
  color: var(--text-color-white);
  padding: 10px 20px;
  font-size: 15px;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-brown:hover {
  background: var(--border-lightbrown-color);
}

.btn-lightbrown {
  font-family: "Ocra";
  letter-spacing: 1px;
  background: var(--button-bg-color-lightbrown);
  color: var(--text-color-white);
  padding: 10px 30px;
  font-size: 12px;
  display: flex;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-lightbrown:hover {
  background: var(--secondary-bg-color-brown);
}

.btn-footer {
  font-family: "Ocra";
  letter-spacing: 1px;
  background: var(--button-bg-color-lightbrown);
  color: var(--text-color-white);
  padding: 10px 15px;
  font-size: 12px;
  display: flex;
  cursor: pointer;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-footer:hover {
  background: var(--secondary-bg-color-brown);
}

.btn-article-white {
  font-family: "Moderat";
  background: var(--button-bg-color-white);
  border: 1px solid var(--border-black-color);
  color: var(--text-color-black);
  padding: 5px 7px;
  font-size: 12px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-article-white:hover {
  background: var(--button-bg-color-lightbrown);
}

.btn-readlike-white {
  font-family: "Ocra";
  letter-spacing: 1px;
  background: var(--button-bg-color-white);
  border: 1px solid var(--border-black-color);
  color: var(--text-color-darkblue);
  padding: 3px 10px;
  border-radius: 15px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-contact {
  font-family: "Moderat";
  background: var(--button-bg-color-grey);
  color: var(--text-color-black);
  padding: 10px 20px;
  font-size: 14px;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-contact:hover {
  background: var(--button-bg-color-lightblue);
}

.btn-readmore {
  position: relative;
  font-family: "Ocra";
  color: var(--text-color-darkblue);
  cursor: pointer;
  font-size: 13px;
}

.btn-readmore::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 18px;
  left: 0;
  background: var(--text-color-darkblue);
  transition: 0.2s ease;
}

.btn-readmore:hover::after {
  display: none;
}

.article-active {
  padding: 5px 15px;
  background: var(--secondary-bg-color-brown);
  border: 1px solid var(--secondary-bg-color-brown);
  color: var(--text-color-white);
  border-radius: 15px;
  font-size: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.article-inactive {
  background: var(--tertiary-bg-color-white);
  border: 1px solid var(--border-black-color);
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 13px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  width: 100%;
  display: flex;
  background: var(--primary-bg-color);
  align-items: center;
}

header nav {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 10px 0 86px 0;
}

.floatheader {
  position: fixed;
  z-index: 100;
  display: flex;
  left: 1%;
  align-self: center;
  justify-content: space-between;
  width: 98%;
  background: var(--tertiary-bg-color-white);
  font-family: "Moderat";
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--border-grey-color);
  padding: 10px 30px;
}

.floatheader .nav-logo a {
  font-size: 37px;
  padding: 5px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--text-color-black);
}

.floatheader ul {
  display: flex;
  list-style: none;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.floatheader ul li a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  color: var(--text-color-black);
}

.floatheader ul li a.active::after {
  width: 100%;
}

.floatheader a {
  text-decoration: none;
  color: var(--text-color-black);
}

.floatheader ul li a:hover::after {
  width: 100%;
}

.floatheader ul li a::after {
  width: 0;
  position: absolute;
  background: var(--border-grey-color);
  content: "";
  height: 1px;
  left: 0;
  top: 20px;
  transition: 0.25s ease;
}

#closemenu {
  background: var(--tertiary-bg-color-white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}

#checkbtn {
  position: absolute;
  right: 30px;
  font-size: 20px;
  display: none;
}

main {
  max-width: 1440px;
  background: var(--primary-bg-color);
  margin: auto;
  padding: 0 0 20px 0;
}

#blogs {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 30px 15px 20px 15px;
}

.left-blogs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.left-blogs-title {
  font-family: "Ocra";
  letter-spacing: 1px;
  font-size: 24px;
}

.left-blogs-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.blogs-div {
  background: var(--tertiary-bg-color-white);
  padding: 12px;
  width: 100%;
  height: 41vh;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.blogs-image {
  height: 100%;
  width: 40%;
  border-radius: 10px;
}

.blogs-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.blogs-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  height: 100%;
  padding: 7px 0 0 0;
}

.blogs-details-title {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Berlin";
  color: var(--text-color-darkblue);
}

.blogs-details-title h3 {
  font-family: "Berlin";
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blogs-details-title h3:hover {
  color: var(--text-color-brown);
}

.blogs-details-title p {
  font-size: 13px;
}

.blogs-details-desc {
  font-family: "Moderat";
  font-size: 14px;
}

.blogs-details-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-author-image {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Berlin";
  font-size: 13px;
  color: var(--text-color-darkblue);
}

.author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.right-readtime {
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogs-details-like {
  display: flex;
  justify-content: space-between;
}

#loadmoreblogs {
  padding: 15px 30px;
  font-family: "Ocra";
  color: var(--text-color-white);
  background: var(--secondary-bg-color-brown);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-self: center;
  margin-top: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.right-blogs {
  width: 28%;
  padding: 0 0 0 15px;
}

.advertisements-section {
  height: 96vh;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 2vh;
  background: var(--tertiary-bg-color-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--border-grey-color);
  gap: 20px;
}

.advertisements-section-title {
  font-family: "Moderat";
  font-size: 14px;
}

.advertisements-section-contents {
  background: red;
  height: 100%;
}

#articles {
  margin: 50px 0;
  padding: 90px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.article-title {
  font-family: "Ocra";
  letter-spacing: 1px;
  font-size: 24px;
}

.article-content {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.left-article-content {
  width: 100%;
  padding: 15px 15px 15px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.left-article-buttons {
  display: flex;
  gap: 50px;
  font-family: "Moderat";
  font-size: 14px;
}

.left-article-blogs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.left-blogs-div {
  height: 38vh;
  display: flex;
  border: 1px solid var(--text-color-white);
  align-items: center;
  justify-content: space-between;
  background: var(--tertiary-bg-color-white);
  padding: 10px;
  border-radius: 15px;
}

.blogs-div-content {
  width: 65%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.blogs-div-image {
  width: 30%;
  height: 100%;
  border-radius: 15px;
}

.blogs-div-image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.blogs-div-author {
  display: flex;
  gap: 20px;
  align-items: center;
}

.blogs-author-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.blogs-author-image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.blogs-author-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blogs-author-details h5 {
  font-size: 16px;
}

.blogs-author-details p {
  font-size: 13px;
}

.blogs-author-details h6 {
  font-family: "Moderat";
  font-size: 12px;
}

.blogs-author-name {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Berlin";
  color: var(--text-color-darkblue);
}

.blogs-div-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blogs-details-title {
  font-family: "Berlin";
  color: var(--text-color-darkblue);
  font-size: 26px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.2s ease;
}

.blogs-details-title:hover {
  color: var(--text-color-black);
}

.blogs-details-content {
  font-family: "Moderat";
  font-size: 14px;
  padding: 10px;
}

.blogs-div-read {
  display: flex;
  justify-content: space-between;
}

.right-article-content {
  width: 30%;
  padding: 15px 0 15px 15px;
}

.right-advertisement-section {
  height: 96vh;
  position: -webkit-sticky;
  position: sticky;
  top: 2vh;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background: var(--tertiary-bg-color-white);
  border: 1px solid var(--border-black-color);
  border-radius: 15px;
}

.advertisement-title {
  font-family: "Moderat";
  font-size: 14px;
  text-align: center;
}

#advertisement-content {
  background: red;
  height: 100%;
}

#newsletter-popup {
  position: fixed;
  z-index: 200;
  display: none;
  top: 0;
  left: 0;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-form {
  background: var(--tertiary-bg-color-white);
  border-radius: 15px;
  width: 40%;
  display: flex;
  position: relative;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 25px 60px 25px;
}

.title-subscribe {
  font-family: "Ocra";
  font-size: 20px;
  color: var(--text-color-brown);
  letter-spacing: 3px;
}

input:focus {
  outline: var(--border-black-color);
}

#errorpopup {
  color: red;
  padding: 10px 15px;
  background: rgb(235, 160, 160);
  font-family: "Berlin";
  display: none;
}

#successpopup {
  color: green;
  padding: 10px 15px;
  background: rgb(169, 243, 169);
  font-family: "Berlin";
  display: none;
}

.content-subscribe h6 {
  font-family: "Moderat";
  font-size: 20px;
  line-height: 27px;
}

.inputs-subscribe {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  width: 80%;
}

.inputs-subscribe input {
  padding: 12px 15px;
  border-radius: 20px;
  width: 100%;
  font-family: "Ocra";
  border: 1px solid var(--border-grey-color);
}

.inputs-subscribe button {
  padding: 12px 15px;
  font-family: "Ocra";
  color: var(--text-color-white);
  background: var(--border-lightbrown-color);
  border-radius: 20px;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.inputs-subscribe button:hover {
  background: var(--secondary-bg-color-brown);
}

.removepopup {
  position: absolute;
  top: 3%;
  right: 1.6%;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-grey-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--text-color-black);
  transition: 0.2s ease;
}

.removepopup:hover {
  background: var(--button-bg-color-grey);
}

footer {
  width: 100%;
  padding: 0 0 30px 0;
  background: var(--secondary-bg-color-brown);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.footer-content {
  max-width: 1440px;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.left-footer {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 30px;
  padding-top: 40px;
}

.footer-logo a {
  padding: 2px 25px;
  text-decoration: none;
  color: var(--text-color-black);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--text-color-white);
  font-family: "Moderat";
  font-size: 34px;
  border-radius: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer-aboutVNC {
  padding: 20px;
  width: 100%;
  font-family: "Moderat";
  font-size: 14px;
  line-height: 25px;
  color: var(--text-color-white);
  border: 1px solid var(--border-grey-color);
}

.right-footer {
  display: flex;
  width: 65%;
  margin-top: 15px;
  justify-content: space-between;
}

.explore {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border: 1px solid var(--border-grey-color);
  width: 23%;
}

.explore-title {
  font-family: "Ocra";
  color: var(--text-color-white);
  letter-spacing: 1px;
}

.explore-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px 10px;
}

.explore-links a {
  text-decoration: none;
  font-family: "Moderat";
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  color: var(--text-color-white);
  transition: 0.2s ease;
}

.explore-links a:hover {
  color: var(--text-color-black);
}

.newsletter {
  width: 45%;
  border: 1px solid var(--border-grey-color);
  padding: 10px;
  position: relative;
}

#errornewsletter {
  color: red;
  font-family: "Berlin";
  background: rgb(243, 171, 171);
  padding: 10px 15px;
  display: none;
}

#successnewsletter {
  color: green;
  font-family: "Berlin";
  background: rgb(141, 233, 141);
  padding: 10px 15px;
  display: none;
}

.email-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.newsletter-title {
  color: var(--text-color-white);
  font-family: "Ocra";
  letter-spacing: 1px;
  text-align: center;
}

.newsletter-input {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.newsletter-input input {
  width: 75%;
  padding: 10px;
  border: none;
  border-radius: 10px 0 0 10px;
  font-family: "Ocra";
  letter-spacing: 2px;
  font-size: 13px;
}

#send-email-btn {
  padding: 10px 15px;
  font-family: "Ocra";
  background: var(--button-bg-color-lightbrown);
  color: var(--text-color-white);
  font-size: 13px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.2s ease;
}
#send-email-btn:hover {
  background: var(--button-bg-color-darkorange);
}

.newsletter-desc {
  font-size: 13px;
  text-align: center;
  color: var(--text-color-white);
  font-family: "Moderat";
}

.site-country {
  width: 60px;
  height: 50px;
  border-top: 1px solid var(--border-grey-color);
  border-left: 1px solid var(--border-grey-color);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
}

.country-image {
  border: 1px solid var(--border-grey-color);
  width: 100%;
  height: 100%;
}

.country-image img {
  width: 100%;
  height: inherit;
}

.site-author-details {
  margin: auto;
  font-family: "Ocra";
  color: var(--text-color-white);
  letter-spacing: 2px;
}

.site-author-details p {
  font-size: 12px;
}

.site-author-details a {
  text-decoration: none;
  font-size: 12px;
  color: var(--text-color-lightblue);
} /*# sourceMappingURL=index.css.map */

/* start of mediam queries */
@media screen and (max-width: 1090px) {
  .left-trending-content {
    width: 38%;
  }
  .right-trending-content {
    width: 60%;
  }

  .newsletter-form {
    width: 60%;
  }
}

@media screen and (max-width: 920px) {
  h1 {
    font-size: 56px;
  }

  .blogs-details-title,
  .left-trending-title,
  .trending-div-title {
    font-size: 23px;
  }

  .right-footer {
    width: 70%;
  }

  .trending-div-bottom,
  .btn-readmore {
    font-size: 12px;
  }

  .hero-btns {
    width: 70%;
  }

  .left-author-picture,
  .blogs-author-image {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 815px) {
  .trending-content {
    flex-direction: column;
    gap: 20px;
  }

  .newsletter-form {
    width: 70%;
  }

  .left-trending-content {
    width: 95%;
    margin: auto;
  }

  .right-trending-content {
    width: 95%;
    margin: auto;
    gap: 20px;
  }

  .right-trending-div {
    height: 60vh;
  }

  .blogs-details-content {
    font-size: 12px;
  }
}

@media screen and (max-width: 685px) {
  #hero {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .hero-right {
    width: 100%;
  }

  .newsletter-form {
    width: 85%;
  }

  .hero-image {
    width: 100%;
  }

  .hero-btns {
    width: 100%;
  }

  .hero-left {
    width: 100%;
    text-align: center;
  }

  .footer-content {
    flex-direction: column;
  }

  .left-footer {
    width: 100%;
  }

  .right-footer {
    width: 100%;
  }

  .aero-text h1 {
    font-size: 46px;
  }

  .floatheader {
    padding: 10px 70px 10px 30px;
  }

  #closemenu {
    display: flex;
    position: absolute;
    top: 5%;
    right: 5%;
  }

  .floatheader ul {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(0, -100%, 0);
    z-index: 1000;
    width: 100vw;
    height: 70vh;
    background: var(--button-bg-color-lightbrown);
    flex-direction: column;
    padding: 40px;
    transition: 0.3s ease;
  }

  #checkbtn {
    display: block;
  }

  .floatheader ul li a {
    color: var(--text-color-white);
  }

  .floatheader ul li a.active::after {
    background: var(--tertiary-bg-color-white);
  }
}

@media screen and (max-width: 560px) {
  .aero-text h1 {
    line-height: 60px;
  }

  .content-subscribe h6 {
    font-size: 16px;
  }

  .newsletter-form {
    width: 95%;
  }

  .inputs-subscribe {
    width: 100%;
  }

  .blogs-author-details {
    gap: 5px;
  }

  .blogs-author-details h5 {
    font-size: 14px;
  }

  .left-blogs-div {
    flex-direction: column-reverse;
    height: 70vh;
    justify-content: space-between;
  }

  .blogs-details-content {
    padding: 0;
  }

  #articles {
    padding: 90px 5px 20px 5px;
  }

  .left-article-content {
    padding: 15px 0 15px 0;
  }

  .btn-readmore {
    font-size: 10px;
  }

  .blogs-div-content {
    width: 100%;
    height: 55%;
  }

  .blogs-div-image {
    height: 40%;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .left-trending-content,
  .right-trending-content {
    width: 100%;
  }

  .right-footer {
    flex-direction: column-reverse;
    gap: 15px;
  }

  .trending-div-author {
    gap: 15px;
  }

  #trending {
    padding: 100px 10px;
  }

  .trending-div-bottom {
    flex-direction: column;
    gap: 5px;
  }

  .blogs-author-image {
    display: none;
  }

  .blogs-author-details h6 {
    display: none;
  }

  .explore,
  .newsletter {
    width: 100%;
  }

  .newsletter {
    height: 30vh;
  }

  .left-blogs-div {
    height: 70vh;
  }
}

@media screen and (max-width: 370px) {
  .trending-div-author {
    gap: 10px;
  }
}

@media screen and (max-width: 350px) {
  .trending-div-author {
    gap: 5px;
  }
}

/* end of queiries */
#articles {
  margin: 50px 0;
  padding: 90px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.article-title {
  font-family: "Ocra";
  letter-spacing: 1px;
  font-size: 24px;
}

.article-content {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.left-article-content {
  width: 100%;
  padding: 15px 15px 15px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.left-article-buttons {
  display: flex;
  gap: 50px;
  font-family: "Moderat";
  font-size: 14px;
}

.left-article-blogs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.left-blogs-div {
  height: 38vh;
  display: flex;
  border: 1px solid var(--text-color-white);
  align-items: center;
  justify-content: space-between;
  background: var(--tertiary-bg-color-white);
  padding: 10px;
  border-radius: 15px;
}

.blogs-div-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blogs-div-image {
  width: 30%;
  height: 100%;
  border-radius: 15px;
}

.blogs-div-image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.blogs-div-author {
  display: flex;
  gap: 20px;
  align-items: center;
}

.blogs-author-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.blogs-author-image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.blogs-author-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blogs-author-details h5 {
  font-size: 16px;
}

.blogs-author-details p {
  font-size: 13px;
}

.blogs-author-details h6 {
  font-family: "Moderat";
  font-size: 12px;
}

.blogs-author-name {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Berlin";
  color: var(--text-color-darkblue);
}

.blogs-div-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blogs-details-title {
  font-family: "Berlin";
  color: var(--text-color-darkblue);
  font-size: 26px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.2s ease;
}

.blogs-details-title:hover {
  color: var(--text-color-black);
}

.blogs-details-content {
  font-family: "Moderat";
  font-size: 14px;
  padding: 10px;
}

.blogs-div-read {
  display: flex;
  justify-content: space-between;
}

.right-article-content {
  width: 30%;
  padding: 15px 0 15px 15px;
}

.right-advertisement-section {
  height: 96vh;
  position: -webkit-sticky;
  position: sticky;
  top: 2vh;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background: var(--tertiary-bg-color-white);
  border: 1px solid var(--border-black-color);
  border-radius: 15px;
}

.advertisement-title {
  font-family: "Moderat";
  font-size: 14px;
  text-align: center;
}

#advertisement-content {
  background: red;
  height: 100%;
}

footer {
  width: 100%;
  padding: 0 0 30px 0;
  background: var(--secondary-bg-color-brown);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.footer-content {
  max-width: 1440px;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.left-footer {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 30px;
  padding-top: 40px;
}

.footer-logo a {
  padding: 2px 25px;
  text-decoration: none;
  color: var(--text-color-black);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--text-color-white);
  font-family: "Moderat";
  font-size: 34px;
  border-radius: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer-aboutVNC {
  padding: 20px;
  width: 100%;
  font-family: "Moderat";
  font-size: 14px;
  line-height: 25px;
  color: var(--text-color-white);
  border: 1px solid var(--border-grey-color);
}

.right-footer {
  display: flex;
  width: 65%;
  margin-top: 15px;
  justify-content: space-between;
}

.explore {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border: 1px solid var(--border-grey-color);
  width: 23%;
}

.explore-title {
  font-family: "Ocra";
  color: var(--text-color-white);
  letter-spacing: 1px;
}

.explore-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px 10px;
}

.explore-links a {
  text-decoration: none;
  font-family: "Moderat";
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  color: var(--text-color-white);
  transition: 0.2s ease;
}

.explore-links a:hover {
  color: var(--text-color-black);
}

.newsletter {
  width: 45%;
  border: 1px solid var(--border-grey-color);
  padding: 10px;
  position: relative;
}

#errornewsletter {
  color: red;
  font-family: "Berlin";
  background: rgb(243, 171, 171);
  padding: 10px 15px;
  display: none;
}

#successnewsletter {
  color: green;
  font-family: "Berlin";
  background: rgb(141, 233, 141);
  padding: 10px 15px;
  display: none;
}

.email-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.newsletter-title {
  color: var(--text-color-white);
  font-family: "Ocra";
  letter-spacing: 1px;
  text-align: center;
}

.newsletter-input {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.newsletter-input input {
  width: 75%;
  padding: 10px;
  border: none;
  border-radius: 10px 0 0 10px;
  font-family: "Ocra";
  letter-spacing: 2px;
  font-size: 13px;
}

#send-email-btn {
  padding: 10px 15px;
  font-family: "Ocra";
  background: var(--button-bg-color-lightbrown);
  color: var(--text-color-white);
  font-size: 13px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.2s ease;
}

#send-email-btn:hover {
  background: var(--button-bg-color-darkorange);
}

.newsletter-desc {
  font-size: 13px;
  text-align: center;
  color: var(--text-color-white);
  font-family: "Moderat";
}

.site-country {
  width: 60px;
  height: 50px;
  border-top: 1px solid var(--border-grey-color);
  border-left: 1px solid var(--border-grey-color);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
}

.country-image {
  border: 1px solid var(--border-grey-color);
  width: 100%;
  height: 100%;
}

.country-image img {
  width: 100%;
  height: inherit;
}

.site-author-details {
  margin: auto;
  font-family: "Ocra";
  color: var(--text-color-white);
  letter-spacing: 2px;
}

.site-author-details p {
  font-size: 12px;
}

.site-author-details a {
  text-decoration: none;
  font-size: 12px;
  color: var(--text-color-lightblue);
}

/*# sourceMappingURL=index.css.map */

/* start of mediam queries */
@media screen and (max-width: 1090px) {
  .left-trending-content {
    width: 38%;
  }

  .blogs-details-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .right-trending-content {
    width: 60%;
  }

  .newsletter-form {
    width: 60%;
  }
}

@media screen and (max-width: 920px) {
  h1 {
    font-size: 56px;
  }

  .blogs-details-title,
  .left-trending-title,
  .trending-div-title {
    font-size: 23px;
  }

  .right-footer {
    width: 70%;
  }

  .trending-div-bottom,
  .btn-readmore {
    font-size: 12px;
  }

  .hero-btns {
    width: 70%;
  }

  .left-author-picture,
  .blogs-author-image {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 815px) {
  .trending-content {
    flex-direction: column;
    gap: 20px;
  }

  .newsletter-form {
    width: 70%;
  }

  .left-trending-content {
    width: 95%;
    margin: auto;
  }

  .right-trending-content {
    width: 95%;
    margin: auto;
    gap: 20px;
  }

  .right-trending-div {
    height: 60vh;
  }

  .blogs-details-content {
    font-size: 12px;
  }
}

@media screen and (max-width: 685px) {
  #hero {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .hero-right {
    width: 100%;
  }

  .newsletter-form {
    width: 85%;
  }

  .hero-image {
    width: 100%;
  }

  .hero-btns {
    width: 100%;
  }

  .hero-left {
    width: 100%;
    text-align: center;
  }

  .footer-content {
    flex-direction: column;
  }

  .left-footer {
    width: 100%;
  }

  .right-footer {
    width: 100%;
  }

  .aero-text h1 {
    font-size: 46px;
  }

  .floatheader {
    padding: 10px 70px 10px 30px;
  }

  #closemenu {
    display: flex;
    position: absolute;
    top: 5%;
    right: 5%;
  }

  .floatheader ul {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(0, -100%, 0);
    z-index: 1000;
    width: 100vw;
    height: 70vh;
    background: var(--button-bg-color-lightbrown);
    flex-direction: column;
    padding: 40px;
    transition: 0.3s ease;
  }

  #checkbtn {
    display: block;
  }

  .floatheader ul li a {
    color: var(--text-color-white);
  }

  .floatheader ul li a.active::after {
    background: var(--tertiary-bg-color-white);
  }
}

@media screen and (max-width: 600px) {
  .blogs-div {
    height: 45vh;
  }
}

@media screen and (max-width: 560px) {
  .blogs-author-details {
    gap: 5px;
  }

  .btn-readlike-white {
    padding: 2px 7px;
  }

  .right-readtime {
    height: 18px;
  }

  .blogs-details-desc {
    font-size: 13px;
  }

  .author-image {
    display: none;
  }

  .blogs-div {
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
  }

  .blogs-details,
  .blogs-image {
    width: 100%;
  }

  .blogs-image {
    height: 40%;
  }

  .blogs-details {
    height: 55%;
  }

  .blogs-author-details h5 {
    font-size: 14px;
  }

  .left-blogs-div {
    flex-direction: column-reverse;
    height: 70vh;
    justify-content: space-between;
  }

  .blogs-details-content {
    padding: 0;
  }

  #articles {
    padding: 90px 5px 20px 5px;
  }

  .left-article-content {
    padding: 15px 0 15px 0;
  }

  .btn-readmore {
    font-size: 10px;
  }

  .blogs-div-content {
    width: 100%;
    height: 55%;
  }

  .blogs-div-image {
    height: 40%;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .right-footer {
    flex-direction: column;
    gap: 15px;
  }

  .blogs-author-image {
    display: none;
  }

  .blogs-author-details h6 {
    display: none;
  }

  .explore,
  .newsletter {
    width: 100%;
  }

  .newsletter {
    height: 30vh;
  }

  .left-blogs-div {
    height: 70vh;
  }
}

@media screen and (max-width: 410px) {
  .blogs-div {
    height: 74vh;
  }
}

@media screen and (max-width: 340px) {
  .blogs-div {
    height: 75vh;
  }
}

/* end of queiries */
